.level-0 {
	background-color: var(--grass-level-0);}

.level-1 {
	background-color: var(--grass-level-1);}

.level-2 {
	background-color: var(--grass-level-2);}

.level-3 {
	background-color: var(--grass-level-3);}

.level-4 {
	background-color: var(--grass-level-4);}

.f6 {
	font-size: 12px;
}

.f4 {
	font-size: 16px;
}

.text-normal {
	font-weight: 400;
}

.link--muted {
	color: var(--color-text-secondary);
}

.link--muted:hover {
	color: var(--color-text-link);
}